{% load static %}


<div class="topheader">
		<div class="container">
			<ul class="menu">
				<li><a href="#about_us">About</a></li>
				<li><a href="{% url 'ctg' slug='jahon' %}">Jahon</a></li>
				<li><a href="{% url 'ctg' slug='ozbekiston' %}">O'zbekiston</a></li>
				<li><a href="{% url 'contact' %}">Bog'lanish</a></li>
			</ul>
			<ul class="kurs">
				{% for i in valyuta %}
				{% if i.Ccy == 'RUB' or i.Ccy == 'USD' or i.Ccy == 'EUR' %}
				<li
				{% if '-' not in i.Diff and i.Diff != '0' %}
					style="color: green;"
				{% elif '-' in i.Diff %}
					style="color: red ;"
				{% endif %}
				>1 {{ i.Ccy }} = {{ i.Rate }}</li>

				{% endif %}
				{% endfor %}


			</ul>
			<ul class="lang">

				{% if request.user.is_anonymous %}
					<li><a href="{% url 'auth' %}"><i class="fa-solid fa-right-to-bracket"></i> Sign Up</a></li>
				{% else %}
					{% if request.user.is_superuser %}
					<li><a href="{% url 'dashboard-home' %}"> <i class="fas fa-home "></i>Dashboard</a></li>
					{% endif %}
					<li><a onclick="showModal()" ><i class="fas fa-sign-out"></i>Logout</a></li>
				{% endif %}
			</ul>
			<ul class="social">
				<li><a href="https://www.instagram.com/uzedu24/"><span class="fa fa-instagram"></span></a></li>
				<li><a href="#"><span class="fa fa-linkedin"></span></a></li>
				<li><a href="https://t.me/kuldashev_py"><span class="fa fa-telegram"></span></a></li>
				<li><a href="#"><span class="fa fa-google"></span></a></li>
			</ul>
		</div>
	</div>
	<nav class="navbar">
  	<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#"><img src="{% static 'img/logo.png' %}" alt=""></a>
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<i class="fa fa-close"></i>
				</button>
				<ul class="nav navbar-nav">
					{% for i in ctgs %}
					{% if i == one_ctg %}

						<li class="active"><a href="{% url 'ctg' slug=i.slug  %}" style="color: blue;">{{ i.name }}</a></li>
					{% else %}
						<li><a href="{% url 'ctg' slug=i.slug  %}">{{ i.name }}</a></li>
					{% endif %}
					{% endfor %}

				</ul>
				<button type="button" class="btn navbar-right search_btn hidden-xs"><i class="fa fa-search"></i></button>
				<form action="{% url 'search' %}" method="get" id="search" class="navbar-form navbar-right search_btn_box hidden-xs">
					<button class="btn btn-default" type="button">
					  <span><i class="fa fa-search"></i></span></button>
					<div class="input-group">
					  <input type="text" name="search" id="searchName" class="form-control" placeholder="Поиск..." required="">
					  <input type="submit" hidden="">
					</div>
					<button type="button" class="btn  search_btn_close hidden-xs active"><i class="fa fa-close"></i></button>
				</form>
			</div>
		</div>
	</nav>
	<a href="#" class="bigrek"></a>




