{% load static %}

<div class="head_title">So'ngi Yangiliklar</div>
		<div id="listnews" class="carousel slide listnews" data-ride="carousel">
			<div class="news_box">
				<div class="carousel-inner" role="listbox">
					<div class="item active">
						<ul class="list_news">

							{% for i in svejiy_news %}
								{% if forloop.counter <= 4  %}
								<li>
									<div class="list_img"><img src="{{ i.image1.url }}" alt=""></div>
									<a href="{% url 'view' pk=i.id %}">{{ i.title }}</a>
									<span class="date">{{ i.get_date }}</span>
									<span class="news_type"><i class="fa fa-pencil"></i> {{ i.ctg.name }}</span>
								</li>
								{% endif %}
							{% endfor %}

						</ul>
					</div>
					<div class="item">
						<ul class="list_news">


							{% for i in svejiy_news %}
								{% if  4 < forloop.counter and forloop.counter <= 8  %}
								<li>
									<div class="list_img"><img src="{{ i.image1.url }}" alt=""></div>
									<a href="{% url 'view' pk=i.id %}">{{ i.title }}</a>
									<span class="date">{{ i.get_date }}</span>
									<span class="news_type"><i class="fa fa-pencil"></i> {{ i.ctg.name }}</span>
								</li>
								{% endif %}
							{% endfor %}

						</ul>
					</div>
				</div>
			</div>
			<div class="indi_box">
				<ol class="carousel-indicators">
					<li data-target="#listnews" data-slide-to="0" class="active"></li>
					<li data-target="#listnews" data-slide-to="1"></li>
				</ol>
			</div>
		</div>
