{% extends 'base.html' %}
{% load static %}
{% block title %}News | Contact{% endblock %}

{% block content %}
	<div class="container wrapper">
		<div class="longrek"></div>
		<div class="clearfix"></div>
		
		<ol class="breadcrumb">
			<li><a href="{% url 'home' %}">Home</a></li>
			<li class="active">Kontakt</li>
		</ol>
		<div class="row">
			<div class="col-md-5 col-xs-12">
				<div class="cat_title">Bog'lanish</div>
				<div class="con_info">Koroche zo'r yangiliklar sayti. Kun.uzni bittaga bitta urib qo'yadigan. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt earum fuga harum labore molestiae numquam officia officiis perferendis sapiente sit.  </div>
				<ul class="contact">
					<li><i class="fa fa-map-marker"></i> г. Ташкент, улица Эркинлик, дом 108</li>
					<li><i class="fa fa-telegram"></i> (91) 999-79-79 (<a href="https://t.me/xudikk">@eshmat_holdings</a>)</li>
					<li><i class="fa fa-mobile"></i> 99 999-99-99</li>
					<li><i class="fa fa-envelope"></i> eshmatholdings@news.uz</li>
				</ul>
				<div class="feedback">
					<div class="title">Tezkor Aloqa</div>
					<h3 style="color: green;">{{ success }}</h3>
					<form method="post">
						{% csrf_token %}
						<input type="text" name="ism" placeholder="Ismingiz" required>
						<input type="text" name="phone" placeholder="Telefon Raqamingiz" required>
						<textarea name="xabar" id="" cols="30" rows="10" placeholder="Xabar" required></textarea>
						<button type="submit" class="btn submit">yuborish</button>
					</form>
				</div>
			</div>
			<div class="col-md-7 col-xs-12">
				<div class="con_img">
					<img src="{% static 'img/contact.jpg' %}" alt="">
				</div>
				<div class="map"></div>
			</div>
		</div>
		<div class="foot_rek">
			<img src="{% static 'img/foootrek.jpg' %}" alt="">
		</div>
	</div>
{% endblock %}

